* {
  margin: 0;
  padding: 0;
}
.header1 {
  background-color: #ff9797;
  height: 25vh;
  line-height: 25vh;
}

.nav1 {
  background-color: #b1fffd;
  height: 25vh;
  line-height: 25vh;
}

.div1 {
  height: 25vh;
}

.div1 section {
  background-color: #e4ffd1;
  position: absolute;
  width: 50%;
  height: 25%;
  line-height: 3vh;
}

.div1 h1 {
  background-color: #ff9797;
  height: 20%;
  margin: 10px;
  line-height: 5vh;
}

.div1 article {
  background-color: #efc3f3;
  height: 50%;
  margin: 10px;
  line-height: 12vh;
}

.div1 aside {
  background-color: #bec3c5;
  position: absolute;
  width: 50%;
  height: 25%;
  left: 50%;
  line-height: 25vh;
}

/* .aside1 {
  background-color: lightslategrey;
  height: 25vh;
  position: relative;
  max-width: 50%;
  left: 50%;
} */

.footer1 {
  background-color: #ffc300;
  height: 25vh;
  line-height: 25vh;
}

p,
h1 {
  text-align: center;
}
